<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhidian.ad.domain.Ad">
	<!-- sql块，方便重用 -->
	 <sql id="adBase">
	     ad.id, ad.accountId, ad.name, ad.objectType, ad.keyword, ad.description, ad.isSupportPad, ad.showType, ad.clickType,
	     ad.clickSite, ad.apkSize, ad.packageName, ad.feeType, ad.feeSum, ad.dayBudget, ad.putInState, ad.startDate, 
	     ad.endDate
	 </sql>
	 
	<resultMap id="BaseResultMap" type="com.zhidian.ad.domain.Ad">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	    <result column="cust_id" jdbcType="BIGINT" property="adxId" />
	    <result column="bidding_type" jdbcType="TINYINT" property="biddingType" />
	    <result column="max_bid" jdbcType="BIGINT" property="adPrice" />
	    <result column="total_budget" jdbcType="BIGINT" property="totalBudget" />
	    <result column="day_budget" jdbcType="BIGINT" property="dayBudget" />
	    <result column="put_start_time" jdbcType="DATE" property="putStartTime" />
	    <result column="put_end_time" jdbcType="DATE" property="putEndTime" />
	    <result column="Industry_id" jdbcType="BIGINT" property="adCategory" />
    </resultMap>	
    
  <select id="getAdList"  resultMap="BaseResultMap">
    	select * FROM ad_plan ad where put_state=1
  </select>
  
</mapper>